body{
    background-color:powderblue ;
 margin-left: 8%;
    
}
.nav{
    list-style-type: none;
    overflow: hidden;
    background:transparent;
    padding: 0%;
}
li {
    float: right;

  }
  
li a {
    display: block;
    color:black;
    font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  .logo{
    height: 30px;
    width: 80px;
    backface-visibility: hidden;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
  }
  .card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px brown;
    font-family: roboto;
    text-align: center;
    width: 25%;
    float: left;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
    
  }
  .card-image {
    grid-area: image;
    background: url("entr.jfif");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    width: 100%;

  }

  .card-text {
    grid-area: text;
    text-align: justify;


  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
    margin: 10%;
    
  }
  .card-text h2 {
    margin-top:5px;
    margin-bottom: -10px;
    font-size:28px;
    text-align: center;
  }

  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card-image1 {
    grid-area: image;
    background: url("invo.jfif");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    width: 100%;

  }
  .card-image2 {
    grid-area: image;
    background: url("mng.jfif");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    width: 100%;

  }
  .card-image3 {
    grid-area: image;
    background: url("code.jfif");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    width: 100%;

  }
  .card-image4 {
    grid-area: image;
    background: url("test.jfif");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    width: 100%;

  }
  .card-image5 {
    grid-area: image;
    background: url("deploy.jfif");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    width: 100%;

  }
  .footer{
    margin-top: 100%;
    width: 100%;
    height: 15%;
    background-color:rgb(95, 87, 95);
    margin-left: -5%;
    border-radius: 12px;
    padding-top: 2px;
    padding-left: 6px;
  }

  .sm{
    width: 20px;
    height:30px;
    margin: 2px;
    padding: 2px;

  }
